/* -----------------------------------------------
 * External Resources
 * ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700|Source+Sans+Pro:400,400i,700&subset=latin-ext');

/* -----------------------------------------------
 * General + Class Stuff
 * ----------------------------------------------- */

html {
    font: 18px 'Source Sans Pro', sans-serif;
    --mdl-padding: 0.75rem;
    --main-colour: #c076ff;
    --tone-colour: #b36eee;
    --accent-colour: #FFD741;
    --accent-colour-tone: #FFE06C;
    --grey: #111;
    --grey-tone: black; /*not yet used*/
}

blockquote,
figure {
    margin: 0;
    padding: 0;
}
p {
    margin:0;
    padding:0.05em 0 .15em;
}

h1 {font-size: 1.75rem;}

h2 {font-size: 1.55rem; color: #151515;}

h3 {font-size: 1.35rem; color: #252525;}

h4 {font-size: 1.25rem;}

h5 {font-size: 1.15rem;}

h6 {
    font-size: 1.1rem;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0 0.25em 0;
    font-family: 'Source Code Pro';
}

h2,
h3 {
    margin-left: -0.125em;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 1em;
}

a {
    color: var(--accent-colour);
    text-decoration: underline;
}

a:visited {
    color: var(--accent-colour-tone);
}

a:hover {
    text-decoration: none;
}

.block {
    display: block;
}

/* -----------------------------------------------
 * Body Area, excl. Content Area
 * ----------------------------------------------- */

body {
    background: #d7b8f1;
    margin: 0 2.5vw 2.5vw 2.5vw;
    font-size: 1rem;
    max-width: 1200px;

    display: grid;
    grid-gap: 0.75rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-areas: "nav       "
                         "header    "
                         "main      "
                         "footer    ";
}

nav#nav {
    grid-area: nav;
    margin: -0.5rem 0 0 0;
    padding: 1.5rem 0.5rem 1rem;
    background: var(--main-colour);
}
nav#nav a,
nav#nav a:visited {
    color: var(--grey);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.075em;

    padding: 1rem;
}
nav#nav a:hover {
    background: var(--tone-colour);
}

header#header {
    grid-area: header;
    background: var(--main-colour);
    padding: var(--mdl-padding);
    margin: 0;
}

div#before-con {
    grid-area: before-con;
    background: var(--main-colour);
    padding: var(--mdl-padding);
    margin: 0;
}

div#after-con {
    grid-area: after-con;
    background: var(--main-colour);
    padding: var(--mdl-padding);
}

footer#footer {
    grid-area: footer;
    background: var(--main-colour);
    padding: var(--mdl-padding);
}

/* -----------------------------------------------
 * Content Area
 * ----------------------------------------------- */

main {
    grid-area: main;
}

main article {
    background: var(--main-colour);
    padding: 0.5rem 1.75rem 2.25rem;
}

main article:nth-child(odd) {
    background: var(--tone-colour);
}